{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title> 
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
   </head>
<body>
    <div class="content">
        {% for message in messages %}
            {% if 'error' in message.tags %}
                <div class="error">
                    {{ message }}
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                </div>
            {% else %}
                <div class="error">
                    {{ message }}
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                </div>
            {% endif %}
        {% endfor %}
        <div class="wrapper">
            <h2>Registration</h2>
            <form action="register" method="post">
                {% csrf_token %}
    
                <div class="input-box">
                    <input type="text" name="name" placeholder="Enter name" required>
                </div>
                <div class="input-box">
                    <input type="text" name="username" placeholder="Enter username" required>
                </div>
                <div class="input-box">
                    <input type="email" name="email" placeholder="Enter email" required>
                </div>
                <div class="input-box">
                    <input type="text" name="password1" placeholder="Create password" required>
                </div>
                <div class="input-box">
                    <input type="text" name="password2" placeholder="Confirm password" required>
                </div>
                <div class="input-box button">
                    <input type="submit" value="Register Now">
                </div>
                <div class="text">
                    <h3>Already have an account? <a href="{% url 'login' %}">Login now</a></h3>
                </div>
            </form>
        </div>
    </div>
</body>
</html>